.func-section {
    display: grid;
    margin: auto;
    grid-template: 
    "btn-funcionarios" 100px
    "form-funcionario"
    ;
    grid-auto-rows: 200px;
    gap: 15px;
}

.btn-funcionarios{
    max-width: 300px;
    line-height: 20px;
}

.form-funcionario {
    display: grid;
    grid-template-columns: 670px 270px;
    grid-template-areas: 
    "dados-funcionario btn-edit" 
    "dados-funcionario btn-remove"
    ;
    align-items: start;

    background-color: var(--light-color);
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.dados-funcionario {
    grid-area: dados-funcionario;
}

.btn-edit {
    grid-area: btn-edit;
}

.btn-remove {
    grid-area: btn-remove;
    line-height: 20px;
    margin-top: 0;
}

