.vendas-section {
    display: grid;
    grid-template: 
    "button" 100px
    "venda"
    ;
    grid-auto-rows: 250px;
    gap: 15px;
}

.button {
    margin: 0 auto;
    width: 150px;
}

.venda {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template: 
    "vendas-vendedor  vendas-vendedor" 30px
    "vendas-bebidas   vendas-bebidas"  60px
    "btn-add          btn-add"  50px
    "vendas-total     btn-lixo"   50px  
    ;
    align-items: start;

    
}

.vendas-vendedor {
    grid-area: vendas-vendedor;
}

.vendas-bebidas {
    grid-area: vendas-bebidas;

    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-add {
    grid-area: btn-add;

    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin: auto;
    border-radius: 50px;
    border: solid 2px #DE2EE1;
    color: #DE2EE1;
    font-size: 50px;
    text-align: center;
    line-height: 0% ;
    background-color: white;

    align-items: center;
    justify-items: center;
    
}

.vendas-total {
    grid-area: vendas-total;

    font-size: 24px;
    align-self: end;
}

.btn-lixo{
    grid-area: btn-lixo;

    width: 170px;
    margin-right: 15px !important;
    justify-self: end;
}

.vendas-menu{
    margin: 0 10px;
    width: 210px;
}

.vendas-quant {
    width: 70px;
    height: 30px;
    margin: 0 10px;
    border: solid 1px #777;
    padding: 0 12px;
    
}
