.vendas-section {
    display: grid;
    grid-template: 
    "btn-add-vendas" 100px
    "venda"
    ;
    grid-auto-rows: 270px;
    gap: 15px;
}

.btn-add-vendas{
    max-width: 300px;
    line-height: 20px;
}

.venda {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template: 
    "vendas-vendedor  vendas-vendedor" 30px
    "vendas-bebidas   vendas-bebidas"  60px
    "btn-add          btn-add"  50px
    "save             save"   70px  
    ;
    align-items: start;
    margin: 0 auto;
    max-width: 1000px;
    
}

.vendas-vendedor {
    grid-area: vendas-vendedor;
}

.vendas-bebidas {
    grid-area: vendas-bebidas;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-add {
    grid-area: btn-add;
    align-items: center;
    justify-items: center;
    max-width: 50px;
    margin: auto;
}

.save {
    grid-area: save;

    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.btn-salvar{
    max-width: 150px;
    margin-top: 0;
    line-height: 20px;
}

.vendas-menu {
    max-width: 350px;
    margin: 0 20px;
}

.vendas-quant {
    max-width: 60px;
    margin: 0 20px;
}