.bater-ponto {
    display: grid;
    grid-template: 
    "h1" 50px
    "button" 70px
    "p" 35px
    ;

    align-self: center;
    justify-self: center;
}

.bater-ponto h1 {
}

.bater-ponto p {
}

.btn-ponto{
    width: 150px;
}