.ponto-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 160px;
}


.ponto-campo {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: 
    "filtro1 filtro2"
    ;
}

.filtro1 {
    grid-area: filtro1;

    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: 
    "ponto-passaporte  ponto-seletor ponto-id"
    "ponto-funcao ponto-funcao ponto-funcao"
    "ponto-data-adm ponto-data-adm ponto-data-adm"
    ;
}

.ponto-passaporte{
    grid-area: ponto-passaporte;
}

.ponto-seletor{
    grid-area: ponto-seletor;
    justify-self: center;
}

.ponto-id{
    grid-area: ponto-id;
}

.ponto-funcao{
    grid-area: ponto-funcao;
}

.ponto-data-adm{
    grid-area: ponto-data-adm;
}


.filtro2 {
    grid-area: filtro2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template: 
    "ponto-data-in  nice-dates" 50px
    "ponto-data-end nice-dates" 50px
    "btn-pqs        btn-pqs" 60px
    /150px 200px
    ;
}

.ponto-data-in{
    grid-area: ponto-data-in;
    justify-self: end;
}

.nice-dates{
    grid-area: nice-dates;
    justify-self: center;
}

.ponto-data-end{
    grid-area: ponto-data-end;
    justify-self: end;
}

.btn-pqs{
    grid-area: btn-pqs;
    margin-right: 20px;
    justify-self: end;
}
