.home-container {
    display: grid;
    grid-template: 
    "home-header   home-header   home-header"
    "...........   home-content  ..........."
    "home-footer   home-footer   home-footer "
    / 300px 1fr 300px
    ;
    gap: 10px
}


.home-header {
    grid-area: home-header;
    justify-self: center;

    width: 100%;
    background-color: var(--light-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

.header-container{
    display: grid;
    grid-template: 
    "home-infos  home-nav  home-logo" 100px
    / 280px 1fr 280px;
    align-items: center;

    width: 1280px;
    margin: auto;
}

.home-infos {
    grid-area: home-infos;
    align-self: start;
    justify-self: start;
}

.bater-ponto{
    grid-area: bater-ponto;
    align-self: center;
    justify-self: center;
}

.home-logo {
    grid-area: home-logo;
}

.home-nav{
    grid-area: home-nav;
} 

 /*CORPO DA PAGINA */
.home-content{
    grid-area: home-content;
    background-color: var(--light-color);
    padding: 32px 32px;
}

.home-footer {
    grid-area: home-footer;

    background-color: var(--light-color);
}