.home-container {
    display: grid;
    grid-template: 
    "home-header   home-header   home-header"
    "...........   home-content  ..........."
    "home-footer   home-footer   home-footer "
    ;
    gap: 10px
}


.home-header {
    grid-area: home-header;

    width: 100%;
    background-color: #FFE7FA;
    border: 2px solid #e95ff5;
    justify-self: center;
    padding: 0 30px;

    
}

.header-container{
    display: grid;
    grid-template: 
    "home-infos  bater-ponto home-logo" 160px
    "home-infos  home-nav    home-logo" 60px
    / 280px 1fr 280px;
    align-items: center;

    width: 1280px;
    margin: auto;
}

.home-infos {
    grid-area: home-infos;
    align-self: start;
    justify-self: start;
    padding: 30px 0px;
    font-size: 16px;
}

.bater-ponto{
    grid-area: bater-ponto;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}

.home-logo {
    grid-area: home-logo;
    width: 200px !important;
}

.home-nav{
    grid-area: home-nav;
} 

 /*CORPO DA PAGINA */
.home-content{
    grid-area: home-content;
    background-color: white;
    width: 100%;
    max-width: 1180px;
    height: 100%;
    padding: 20px;
    border: solid 2px #E95FF5;
    border-radius: 8px;
}