.home-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "home-header  home-header  home-header"
    "home-footer  home-content  home-content"
    "....  home-content  home-content"
    ;
    gap: 10px
}


.home-header {
    grid-area: home-header;

    width: 100%;
    background-color: #FFE7FA;
    border: 2px solid #e95ff5;
    justify-content: center;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: 
    "home-infos  home-nav  home-logo"
    ;
    align-items: center;
}

.home-infos {
    grid-area: home-infos;
    align-self: start;
    justify-self: start;
    padding: 30px 0px;
    font-size: 16px;
}

.button {
    max-width: 200px;
    margin: auto;
}

.home-logo {
    grid-area: home-logo;
    max-width: 300px;
    padding: 30px;
}


 

 /*CORPO DA PAGINA */
.home-content{
    grid-area: home-content;
    background-color: white;
    width: 100%;
    max-width: 1180px;
    padding: 20px;
    border: solid 2px #E95FF5;
    border-radius: 8px;
}

.home-footer {
    grid-area: home-footer;
    align-content: stretch;
    justify-content: stretch;
    width: 250px;
    height: 150px;
    background-color: #FFE7FA;
    border: #E95FF5 solid 2px;
    border-radius: 8px;
    margin-right: 30px;
    align-self: end;
    justify-self: end;
}

.home-footer h1 {
    text-align: center;
    color: #E95FF5;
}

.home-footer p {
    text-align: center;
}
