/*NAV BAR HEADER */
.home-nav {
    grid-area: home-nav;
    align-self: end;

    position: relative;
    margin: 0 auto;
    width: 680px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 50px 50px 0 0;
    font-size: 0;
    box-shadow:  0 2px 3px 0 rgba(233, 95, 245, 0.1);
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    line-height: 50px;
    position: relative;
    
    z-index: 1;
    display: inline-block;
    text-align: center;

    
}

nav .animation{
    position: absolute;
    height: 5%;
    bottom: 0;
    z-index: 0;
    background: var(--text-color);
    border-radius: 8px;
    transition: all 0.5s ease 0s;
}

a:nth-child(1){
    width: 170px;
    margin-left: 20px;
}
nav .start-home, a:nth-child(1):hover~.animation{
    width: 150px;
    left: 30px;
}


a:nth-child(2){
    width: 160px;
}
nav .start-home, a:nth-child(2):hover~.animation{
    width: 140px;
    left: 200px;
}


a:nth-child(3){
    width: 170px;
}
nav .start-home, a:nth-child(3):hover~.animation{
    width: 150px;
    left: 360px;
}


a:nth-child(4){
    width: 140px;
}
nav .start-home, a:nth-child(4):hover~.animation{
    width: 120px;
    left: 530px;
}
