.bau-section {
    display: grid;
    margin: auto;
    grid-template: 
    "btn-bau" 100px
    "bau-campos"
    ;
    grid-auto-rows: 190px;
    gap: 15px;
}

.btn-bau {
    max-width: 300px;
    line-height: 20px;
}

.bau-campos {
    display: grid;
    grid-template-columns: 100px 640px 200px;
    grid-template-areas: 
    "bau-img bau-infos btn-edit"
    ;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;

    background-color: var(--light-color);
    border: none;
    border-radius: 5px;
}

.bau-img {
    grid-area: bau-img;
    justify-self: center;
    text-align: center;
}

.bau-foto{
    width: 100px;
    height: 100px;
    background-color: #777;
    text-align: center;
    line-height: 100px;
    
}

.bau-infos {
    grid-area: bau-infos;
    align-self: start;
    padding-left: 30px;
}

.btn-edit{
    grid-area: btn-edit;
    align-self: center;
    justify-self: end;
    line-height: 20px;
}

