@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-color: #DE2EE1;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.05);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-family: Ubuntu, sans-serif;
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: #f0f0f5;


    -webkit-font-smoothing: antialiased;
}

input, button, texarea, p {
    font: 22px Ubuntu, sans-serif;
    font-weight: 400;
    line-height: 30px;
}

button {
    cursor: pointer;
}

form {
    background: rgba(255, 255, 255, 0.03);
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 32px 64px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

form img {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input, button, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 100%;

    padding: 16px 0;

    border: none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

    color: var(--text-color);
    font-size: 1em;;

    font: 400 22px Ubuntu, sans-serif;
}

select option{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.button {
    width: 100% !important;
    height: 50px;
    margin-top: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    justify-self: center;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: var(--primary-color);
    transition: .4s;
}

input:focus ~ label, 
input:valid ~ label {
    transform:  translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input span.error {
    display: flex;

    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active{
    border: 1px solid red;
    padding: 0.4em;
}


