.nice-dates-navigation, .nice-dates-day {
    color: #DE2EE1;
  }

  .nice-dates-popover {
    box-shadow: none;
    border: 1px solid #DE2EE1;
    border-radius: 2px;
    max-width: 280px;
    transition: none;
  }
